body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0 auto;
    padding: 0;
}


.img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.square:hover .img-wrapper img {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .squares-wrapper {
        padding: 40px 15px;
    }
}

@media (max-width: 615px) {
    .squares {
        grid-template-columns: 1fr;
    }

    .square {
        flex-direction: column;
    }

    .square-text-wrapper {
        order: 2;
    }

    .img-wrapper {
        order: 1;
    }
    .library-squares {
        grid-template-columns: 1fr;
    }

    .square {
        flex-direction: column;
    }
}