.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1050px;
}

.squares-wrapper > .squares > .square {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.square > .square-text-wrapper h1 {
    color: #0c2e9c;
}

.square > .square-text-wrapper h0 {
    color: #0c2e9c;
}

.library {
    display: flex;
    justify-content: center;
}

.library > .squares {
    width: 1250px;
}

.library > .squares > .square {
    display: grid;
    column-gap: 150px;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
}

.library >.squares > .square> .img-wrapper img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.square > .library {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.square > .square-text-wrapper h1 {
    color: #0c2e9c;
}

.square > .square-text-wrapper h0 {
    color: #0c2e9c;
}